@charset "utf-8";

.wrapper {
  padding: 0 4px;
}

.level-selection select {
  border: 1px solid #000;
}

.top-area {
  display: flex;
  justify-content: space-between;
}

.remains,
.timer {
  border: 1px solid #000;
}

.reset-btn {
  border: 1px solid #000;
}

.fa-face-smile,
.fa-face-laugh-squint,
.fa-face-dizzy {
  font-size: 32px;
  color: #fc0;
}

.board {
  border: 1px solid #000;
}

.row {
  display: flex;
}

.cell {
  aspect-ratio: 1;
  width: 30px;
  height: 30px;
  background: #ccc;
  cursor: default;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  font-family: 'Roboto Mono', monospace;

  /* https://developer.mozilla.org/ja/docs/Web/CSS/user-select#examples */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.cell--unopen {
  border-top: 4px solid #fff;
  border-right: 4px solid #888;
  border-bottom: 4px solid #888;
  border-left: 4px solid #fff;
}

.cell--open {
  border-top: 2px solid #888;
  border-left: 2px solid #888;
}

.cell--exploded {
  background-color: #f00;
  border-top: 2px solid #888;
  border-left: 2px solid #888;
}
.cell--exploded::before {
  content: '\e4e9';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #000;
}

.cell--flagged::before {
  content: '\f024';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #f00;
}

.cell--flagged-wrongly {
  background-color: #ffaaaa;
}

.cnt-1 {
  color: #30f;
}
.cnt-2 {
  color: #080;
}
.cnt-3 {
  color: #f00;
}
.cnt-4 {
  color: #108;
}
.cnt-5 {
  color: #800;
}
.cnt-6 {
  color: #088;
}
.cnt-7 {
  color: #000;
}
.cnt-8 {
  color: #777;
}